body {
    font-family: 'Lato', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    margin: 0;
    padding: 0; 
}
* {
    box-sizing: border-box;
  }
.container {
    max-width: 1440px;
    margin: 0 auto;
  }
.nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
  }
html {
    scroll-behavior: smooth; 
  }
.nav-link {
    padding: 0 20px;
    line-height: 50px;
    transition: color 3s;
    text-decoration: none;
    color: #1a2647;
  }
.link {
    text-decoration: none;
    color: #002385;
    transition: color 0.5s;
  }
.main-container {
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 0 8%
    }
  
.section {
    width: 50%
  }
@media (max-width: 768px) {
    .section {
      width: 100%;
    }
  }
.contacts-location {
  padding-left: 2rem;
  background-image: url(assets/placeholder.png);
  background-position: 0 0;
  background-size: 1.6rem 1.6rem;
  background-repeat: no-repeat;
}
.contacts-email {
  padding-left: 2rem;
  background-image: url(assets/mail.png);
  background-position: 0 0;
  background-size: 1.6rem 1.6rem;
  background-repeat: no-repeat;
}
.contacts-github {
  padding-left: 2rem;
  background-image: url(assets/github.png);
  background-position: 0 0;
  background-size: 1.6rem 1.6rem;
  background-repeat: no-repeat;  
}
.contacts-discord {
  padding-left: 2rem;
  background-image: url(assets/discord.png);
  background-position: 0 0;
  background-size: 1.6rem 1.6rem;
  background-repeat: no-repeat;
}
#contacts {
  line-height: 1.9;
}
.contacts {
  list-style-type: none;
}
.header {
  background-color:azure;
}
.footer-link {
  text-decoration: none;
    color:#1a2647;
    transition: color 0.5s;
}
.footer{
  background:azure;
  color: #111;
}
.footer-content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.footer-p{
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
  color: #cacdd2;
}
.footer-div {
  margin: 10px
}
#profile {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}